@model IEnumerable<N01520224_Hari_Assignment5.Models.Teacher>

@{
    ViewBag.Title = "List";
}

<h2>Listing Teachers here</h2>
<div>There are @Model.Count() teachers in the system.</div>
<div><a href="/Teacher/New">Add a Teacher</a></div>

<div>
    <form action="/Teacher/List" method="GET" name="SearchForm">
        <input type="text" name="NameKey" placeholder="Type a teacher's name" />
        <input type="submit" value="Search" />
    </form>

</div>

<div>

    @{
        foreach (N01520224_Hari_Assignment5.Models.Teacher Teacher in Model)
        {
            <div>
                <a href="/Teacher/Show/@Teacher.Id">@Teacher.FName @Teacher.LName</a>
            </div>

        }
    }

</div>

